.nav-item {
  list-style: none;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  color: #000000;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 19px;
}

header {
  margin-top: 45px;
}

h1 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 115%;
  color: #000000;
}

.slider-text {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 147%;
  color: #9b9b9b;
}

.button {
  display: flex;

  align-items: flex-start;
  padding: 15.5px 30px;
  background: #414141;
  border-radius: 2px;
}

.button-text {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 146.5%;
  color: #ffffff;
}

.slider {
  margin-top: 95px;
}

h5 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 147%;
}

.feature-text {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #818181;
}

.feature-img1 {
  margin-top: 64px;
}

.feature-img3 {
  margin-top: 64px;
}

.feature {
  margin-top: 183px;
}

.featere-arrow {
  margin-top: 23px;
}

.services {
  margin-top: 40px;
}

.services-list {
  column-count: 2;
  list-style-type: none;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 28px;
  margin-top: 80px;
  padding: 0;
  margin-bottom: 0;
}

h2 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 116.5%;
  color: #000000;
  margin: 0;
}

.services-item1:before {
  content: "01 / ";
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 134.5%;
}

.services-item2:before {
  content: "02 / ";
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 134.5%;
}

.services-item3:before {
  content: "03 / ";
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 134.5%;
}

.services-item4:before {
  content: "04 / ";
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 134.5%;
}

.services-item5:before {
  content: "05 / ";
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 134.5%;
}

.services-item6:before {
  content: "06 / ";
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 134.5%;
}

.services-item2 {
  margin: 53px 0 53px 0;
}

.services-item5 {
  margin: 53px 0 53px 0;
}

.projects {
  margin-top: 180px;
}

.col-7 {
  background: url("../img/projects-1.svg") no-repeat;
}
